.userlog_content .datePicker {
    left: 224px;
    top: 104px;
}

.userlog_content .search {
    position: absolute;
    width: 240px;
    height: 72px;
    left: 1096px;
    top: 104px;
}
.userlog_content .search input{
    width: 240px;
}
.userlog_content .table {
    top: 192px;
    height: 539px;
}
.userlog_content table th div {
    margin-left: 16px;
}

.userlog_content table th div p {
    margin-left: 0;
}

.userlog_content table td div {
    margin-left: 16px;
}

.userlog_content table td div p {
    margin-left: 0;
}