.status_connect{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.dot-con{
    background: #35C75A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
}

.dot-dis{
    background: #E73F3F;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
}