.title1 {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 40px;
    padding-top: 29px;
    padding-left: 24px;
    align-items: flex-start;
    margin-left: 24px;
}

.title1 a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}

.title1 a:link {
    text-decoration: none;
}

.title1 a:hover {
    color: #FF9138;
}

.title2 {
    margin-top: auto;
    margin-bottom: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}

.title3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138 !important;
}