.account_role-name {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 224px;
    top: 156px;
}

.account_content span {
    position: absolute;
    width: 76px;
    height: 24px;
    left: 0px;
    top: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
 
.account_role-name input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;

    position: absolute;
    width: 300px;
    height: 44px;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.account_role-name .down {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

.account_role-name .up {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

/* .account_role-name .select-drop-down{
    width: 132px;
} */

.add-acc_role .down {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

.add-acc_role .up {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

.add-acc_role input {
    cursor: default;
    pointer-events: none;
}

.add-acc_status .down {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

.add-acc_status .up {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7506;
}

.add-acc_status input {
    cursor: default;
    pointer-events: none;
}

.add-acc_status .select-drop-down-item {
    width: 560px;
}

.add-acc_role .select-drop-down-item {
    width: 560px;
}

.add-acc_role .select-drop-down {
    overflow-y: scroll;
    height: 132px;
}

.select-drop-down {
    overflow-y: scroll;
    height: 132px;
    overflow-x: hidden;
}

.select-drop-down::-webkit-scrollbar {
    width: 4px;
}

.select-drop-down::-webkit-scrollbar-thumb {
    position: absolute;
    width: 4px;
    height: 64px;
    background: #FFC89B;
    border-radius: 43px
}

.account_content table th div {
    margin-left: 17px;
}

.account_content table th div p {
    margin-left: 0;
}

.account_content table td div {
    margin-left: 17px;
}

.account_content table td div p {
    margin-left: 0;
}

.add-acc_bg-info {
    position: absolute;
    width: 1192px;
    height: 534px;
    left: 224px;
    top: 150px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.add-acc_bg-info span {
    /* width: 49px; */
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.add-acc_bg-info input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;
    width: 560px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A9A9B0;
}

.add-acc_bg-info i {
    position: absolute;
    width: 200px;
    height: 21px;
    /* left: 10px; */
    /* top: 2px; */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7E7D88;
}

.add-acc_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 24px;
    top: 66px;

}

.add-acc_phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 24px;
    top: 158px;
}

.add-acc_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 24px;
    top: 250px;

}

.add-acc_role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 24px;
    top: 342px;

}

.add-acc_username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 608px;
    top: 66px;
}

.add-acc_pwd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 608px;
    top: 158px;
}

.add-acc_pwd .show {
    left: 524px;
}

.add-acc_pwd .hide {
    left: 524px;
}

.add-acc_pwd-conf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 608px;
    top: 250px;
}

.add-acc_pwd-conf .show {
    left: 524px;
}

.add-acc_pwd-conf .hide {
    left: 524px;
}

.add-acc_status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 76px;
    left: 608px;
    top: 342px;
}